@charset "utf-8";

body, ul, li, ol, dl, dt, dd, p, h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; }
body { font: normal 12px "Permanent Marker", serif; }
ul { list-style: none; }
img { vertical-align: top; border: 0; }
a { text-decoration: none; }


#wrap { width: 100%; overflow: hidden; }

/*header*/

#header { position: relative; z-index: 10; }
#header .logo { position: absolute; top: 30px; left: 30px; }
#header .logo img { width: 150px; }

.logo2 { position:fixed; top: 30px; left: 50px; display: none; z-index: 10; }
.logo2_1 { position:fixed; top: 27px; left: 45px; display: none; z-index: 10; }

.logo2_1 img { width: 50px; }

#header .gnb0 { width: 630px; overflow: hidden; position: absolute; top: 30px; right: 150px; }

#header .gnb0 li { float: left; margin-left: 50px; }
#header .gnb0 li:nth-child(1) { margin-left: 0; }
#header .gnb0 li a { color: #000; font-size: 25px; transition: all 0.5s; } 
#header .gnb0 li a:hover { color: #001e60; }

.menu_btn{width:30px;height:17px;position:fixed;top:40px;right:40px;cursor:pointer;z-index:3;}
.menu_btn p{width:30px;height:2px;background:#000;transition:all 0.3s;}
.menu_btn p.x2{margin:5px 0;opacity:1}

.menu_btn p.x1.active{transform:rotate(-45deg) translate(-6px,4px);background:#fff;}
.menu_btn p.x3.active{transform:rotate(45deg) translate(-6px,-4px);background:#fff;}
.menu_btn p.x2.active{opacity:0}

.back{width: 50px;
	height: 50px;
	border-radius: 50%;
	position: fixed;
	top: -50px;
	right: -50px;
	background: rgba(0, 0, 0, 0.5);
	transition: 0.5s; z-index: 2; }
.back.active{transform: scale(100,100);}

.menu { position: fixed; top: 50%; left: 50%; transform: translate(-50%,-50%); transition: 0.3s;opacity: 0; z-index: 3; }
.menu ul li a { font-size: 30px; color: #fff; line-height: 2; text-shadow:0 3px 4px rgba(0,0,0,0.5); z-index: 3; text-align: center; display: none; }
.menu.active { opacity: 1; }
.menu.active ul li a { display: block; }



/*footer*/

#footer { width: 100%; height: 300px; background: #ff637b; font-family: 'Amatic SC', cursive; text-align: center; padding-top: 40px; box-sizing: border-box; position: relative; }
#footer .footer_in h1 a img { width: 150px; }
#footer .footer_in h1  { display: block; width: 100%; overflow:hidden; margin-bottom: 20px; }
#footer .footer_in { font-size: 25px; text-align:center;  }
#footer .footer_in ul { position: absolute; top: 55%; left: 50%; transform: translate(-50%,-50%); width: 843px; overflow: hidden; }
#footer .footer_in a { font-weight: bold; font-size: 25px; text-align:center; color: #fff; margin-top: 10px;  }
#footer .footer_in a:hover { text-decoration: underline; }
#footer .footer_in li { float: left; margin-right: 30px;  }
#footer .footer_in li:last-child { margin-right: 0; }
#footer .footer_in p { position: absolute; top: 72%; left: 50%; transform: translateX(-50%); color: #fff; }




.top { position: relative; position: fixed; bottom: 30px; right: 30px; display: none; z-index: 10; }

